html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    height: 100%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.wrapper{
    display: flex;
	height: 100vh;
}

.card-container {
    height: 100vh;
    width: 30%;
	min-width: none;
    background-image: url("./img/craiyon_133850_macho_man_randy_savage_using_a_computer_from_behind.png");
	background-color: white;
    background-size: cover;
	background-position: center;
    
}

.banner {
display: flex;
justify-content: center;
width: auto;
background-color: black;
height:20vh;
margin-top: 70%;
opacity: .5;
}

.logo-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;	
}

.logo-wrapper img{
height: 3rem;


}

.logo-text {
	display: flex;
	color: white;
	padding-right: ;
	font-size: 3.8rem;
}


.right{
    display: flex;
    width: 70%;
    flex-direction: column;
	flex-shrink: 0;
}

.top, .bottom {
background-color: #EEEEEE;
}

.top{
display: flex;
flex-direction: column;
flex:0;
font-size: 2rem;
font-weight: bold;
padding-top: 2rem;
padding-left: 3.5rem;
padding-bottom: 2rem;
}

.quote {
	font-size: 1rem
	;
}

.mid {
flex-direction: column;
display: flex;
flex: 1;
background-color: #ebe9e9;

}

.mid h1 {
	font-size: 2rem;
	padding-left: 3.8rem;
	padding-top: .75rem;
	padding-bottom: .75rem;
}

.bottom {
    display: flex;
flex: 1;
flex-direction: column;
}

.forms-wrapper {
display: flex;
flex: 1;
justify-content: center;
flex-direction: column;
}

.name-wrapper, .email-wrapper, .password-wrapper {
flex: 1;
align-items: center;
display: flex;
gap: 50px;
padding: 1rem;
padding-bottom: 4rem;

    

}

.name-wrapper{
    
}

.input {
margin-left: 3rem;
}

label{
	font-size: 1rem;
}

input[type=text], [type=email], [type=password], [type=tel]{
padding: .5rem;
width: 10em;
border-radius: 8px;
font-size: 1.1rem;
width: 20rem;
}

.bottom-button {
padding-left: 3.8rem;
padding-top: 2rem;
}

.bottom button {
	
	border-radius: 10px;
	background-color: #dd74cf;
	font-size: 2.2rem;
	padding: .7rem 4rem;
	opacity: .8;
	border: 3px solid purple;
	letter-spacing: -3.5px;
	word-spacing: 10px;
	box-shadow: 10px 10px 10px rgb(0 0 0 /0.5)

}

.bottom button:hover {
	background-image: url(./img/craiyon_142344_pastel_blue_yellow_pink_and_purple_irregular_polygonal_leopard_skin_pattern.png);
	background-size: cover;
	color: #dd74cf;
	-webkit-text-stroke-width: .5px;
	-webkit-text-stroke-color: black;
	
}

.bottom button:focus {
	background-image: url(./img/craiyon_142344_pastel_blue_yellow_pink_and_purple_irregular_polygonal_leopard_skin_pattern.png);
	background-size: cover;
	color: #dddb74;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	
}

.bottom-text {
	font-size: 1.2rem;
	padding-left: 4rem;
	padding-top: 2rem;
	padding-bottom: 5rem;
}

.background-container {
    display: flex;
    justify-content: center;
    height: 100%;
	background-image: url(./img/macho404.jpg);
	background-size: cover;
	background-position: center;
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
	margin-top: 450px;
	margin-left: 50px;
    
}

#button-404 {
    font-size: 2rem;
	width: 10rem;
	border-radius: 5px;
}

/*MEDIA QUERIES*/
@media all and (max-width:1205px){

	.wrapper{
		display: flex;
		flex-direction: column;
		height: 200px;
	}
	
	.card-container {
		height: 50vh;
		width: 100%;
		background-position: 20% 25%;
		}
	
	.banner {
	margin-top: 30vh;
	height: 15vh;
	}
	
	.logo-wrapper img{
	height: 3rem;
	}
	
	.right{
	width: 100%;
		}

		@media all and (max-width:850px){

			

			.name-wrapper, .email-wrapper, .password-wrapper {
				flex: 1;
				align-items: center;
				display: flex;
				gap: 1px;
				padding: 1rem;
				padding-bottom: 4rem;
				}

				input[type=text], [type=email], [type=password], [type=tel]{
					padding: .5rem;
					width: 10em;
					border-radius: 8px;
					font-size: 1.1rem;
					width: 15rem;

					}
}

@media all and (max-width:640px){
	input[type=text], [type=email], [type=password], [type=tel]{
		display: block;
		flex-direction: column;
		padding: .5rem;
		width: 10em;
		border-radius: 8px;
		font-size: 1.1rem;
		width: 15rem;

		}

		.name-wrapper,.email-wrapper,.password-wrapper {
			flex-direction: column;
			align-items: flex-start;

		}
		
		.bottom button {
			font-size: 1.1rem;	
		}

		.top {
			font-size: .9rem;
		}

}




