html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    height: 100%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.wrapper{
    display: flex;
}

.card-container {
	display: flex;
    flex-direction: inline;
	flex-shrink: 5;
    height: 100vh;
    width: 40%;
	min-width: none;
    background-image: url("./img/the-blowup-lqx_D7xIZ2o-unsplash.jpg");
    background-size: cover;
    
}

#background-image {
    
}

.right{
    display: flex;
    width: 60%;
    flex-direction: column;
	flex-shrink: 0;
}

.top, .bottom {
background-color: #EEEEEE;
}

.top{
display: flex;
flex-direction: column;
flex:0;
font-size: 2.5em;
font-weight: bold;
padding-top: 8em;
padding-left: 3em;
padding-bottom: 3em;
}

.mid {
flex-direction: column;
display: flex;
flex: 1;
background-color: #DDDDDD;

}

.mid h1 {
	font-size: 3.2em;
	padding-left: 2.2em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.bottom {
    display: flex;
flex: 1;
}

.forms-wrapper {
display: flex;
flex: 1;
justify-content: center;
flex-direction: column;
}

.name-wrapper, .email-wrapper, .password-wrapper {
flex: 1;
align-items: center;
display: flex;
gap: 50px;
padding: 1em;
padding-bottom: 8em;

    

}

.name-wrapper{
    
}

.input {
margin-left: 100px;
}

label{
	font-size: 1.5em;
}

input[type=text]{
padding: .5em;
width: 20em;
border-radius: 8px;
font-size: 2.2em; 
}

.mid h1{

}
